<!-- This loads the relevant libraries for the page -->
{% load static %}
{% load bootstrap4 %}

<!-- This begins the HTML for the page -->
<!DOCTYPE html>
<html lang="en-GB">

  <!-- This initializes the generic head for all the pages -->
  <head>

    <meta charset="utf-8">
    <title>{% block title %}Calendarize{% endblock %}</title>
    <meta name="description" content="{% block description %}Make scheduling easy{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="{{ SITE_URL }}media/favicon.svg" type="image/gif" sizes="32x32">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link href="{% static "/fontawesome/css/all.css" %}" rel="stylesheet">
    {% bootstrap_css %}
    <link href="{% static "/css/style.css" %}" rel="stylesheet">

  </head>

  <!-- This initializes the body for all the pages -->
  <body class="home bg-light-purple mh-100">

    <nav class="container navbar navbar-expand-lg navbar-light bg-trans">
      <a class="navbar-brand text-uppercase text-white" href="#">Calendarize</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
        
        <a href="" class="btn text-white">Log In</a>
        <a href="" class="btn btn-primary">Sign Up</a>

      </div>

    </nav>

    <header class="" style="background-image:url('http://localhost:8000/media/hero.png');">
      <div class="hero">

        <div class="container h-100">
          <div class="row h-100">

            <div class="col-12 align-self-end">

              <h1 class="text-white text-center mb-5">Start scheduling today</h1>
              <p class="d-block mb-5 text-center">
                <a href="" class="btn bg-pink pt-3 pr-4 pb-3 pl-4">
                  <span class="mr-2 text-white">Buy Calendarize</span>
                  <span class="cart">
                    <i class="fa fa-shopping-cart text-pink" aria-hidden="true"></i>
                  </span>
                  
                </a>
              </p>
              <img class="d-block m-auto" src="http://localhost:8000/media/hero.png" alt="" width="60%">

            </div>

          </div>
        </div>
        
        
      </div>
    </header>
      
    <main>              

      {% block content %}{% endblock %}

    </main>

    <!-- BODY END -->
    
    <!-- This loads the JS scripts for all pages -->
    {% bootstrap_javascript jquery='full' %}
    <script src="https://js.stripe.com/v3/"></script>
    {% block scripts %}{% endblock %}
    <script src="{% static '/js/stripe.js' %}"></script>

  </body>
  
</html>
