<!-- This loads the relevant libraries for the page -->
{% load static %}
{% load bootstrap4 %}

<!-- This begins the HTML for the page -->
<!DOCTYPE html>
<html lang="en-GB">

  <!-- This initializes the generic head for all the pages -->
  <head>

    <meta charset="utf-8">
    <title>{% block title %}Calendarize{% endblock %}</title>
    <meta name="description" content="{% block description %}Make scheduling easy{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="{{ SITE_URL }}media/favicon.svg" type="image/gif" sizes="32x32">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link href="{% static "/fontawesome/css/all.css" %}" rel="stylesheet">
    {% bootstrap_css %}
    <link href="{% static "/css/style.css" %}" rel="stylesheet">

  </head>

  <!-- This initializes the body for all the pages -->
  <body class="container-fluid bg-light-purple mh-100">

    <section class="row mh-100">
      
      <main class="col-12">              

        {% block content %}{% endblock %}

      </main>

    </section>

    <!-- BODY END -->
    
    <!-- This loads the JS scripts for all pages -->
    {% bootstrap_javascript jquery='full' %}
    <script src="https://js.stripe.com/v3/"></script>
    {% block scripts %}{% endblock %}
    <script src="{% static '/js/stripe.js' %}"></script>

  </body>
  
</html>
