<!-- templates/home.html-->
{% extends 'base.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}Add New {{ title }}{% endblock %}

{% block content %}
<div class="container">
    
<div class="row">
  <div class="col-12">
    {% if messages %}
      {% for message in messages %}
        {% bootstrap_alert message alert_type=message.tags %}
      {% endfor %}
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-12">
      <a class="btn btn-primary" href="{% url 'customers:customer_add' %}" role="button">Add New</a>
  </div>
</div>

<div class="row">
  <form action="" method="post" class="form col-12">
    {% csrf_token %}
    {% bootstrap_form customer_form %}
    <div class="container formset">
      {{ formset.management_form }}
      {% for form in formset %}
        <div class="row align-items-end formset-form">
          {% bootstrap_form form form_group_class='form-group col-5' %}
          <div class="form-group col-2">
            {% if form.instance.id is not None %}
            <a href="{% url 'customers:customerprice_delete' pk=form.instance.id %}" class="btn btn-danger remove-service-price" role="button">
                <i class="fas fa-trash"></i> Delete
            </a>
            {% else %}
              <a href="#" class="btn btn-danger remove-service-price" role="button">
                  <i class="fas fa-trash"></i> Delete
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="form-group col-12">
          <button type="button" class="btn btn-success add-service-price"><i class="fas fa-plus"></i> Add</button>
        </div>
      </div>
    </div>
    {% buttons %}
      <button type="submit" class="btn btn-primary">Save</button>
    {% endbuttons %}
  </form>
</div>

</div>
{% endblock %}
