<div class="input-group date" id="{{ widget.datetimepicker_id }}" data-target-input="nearest">
    {% include "django/forms/widgets/input.html" %}
    <div class="input-group-append" data-target="#{{ widget.datetimepicker_id }}" data-toggle="datetimepicker">
        <div class="input-group-text">
          <i class="far fa-calendar-alt"></i>
        </div>
    </div>
</div>



<!-- data-target-input="nearest"
data-target="#{{ widget.datetimepicker_id }}"
data-toggle="datetimepicker" -->



<!-- <div class="input-group date" id="datetimepicker_bookings-0-date" data-target-input="#id_bookings-0-date">
    <input type="text" name="bookings-0-date" class="form-control datetimepicker-input" placeholder="Date" title="" id="id_bookings-0-date" data-target="#datetimepicker_bookings-0-date">

    <div class="input-group-append" data-target="#datetimepicker_bookings-0-date" data-toggle="datetimepicker">
        <div class="input-group-text">
          <i class="far fa-calendar-alt"></i>
        </div>
    </div>
</div>

<div class="input-group time" id="datetimepicker_bookings-0-starttime" data-target-input="nearest" data-target="#datetimepicker_bookings-0-starttime" data-toggle="datetimepicker">
    <input type="text" name="bookings-0-starttime" class="form-control datetimepicker-input" placeholder="Starttime" title="" id="id_bookings-0-starttime" data-target="#datetimepicker_bookings-0-starttime">

    <div class="input-group-append" data-toggle="datetimepicker">
        <div class="input-group-text">
            <i class="far fa-clock"></i>
        </div>
    </div>
</div> -->