<!-- templates/home.html-->
{% extends 'base.html' %}
{% load slashed_date %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %} 

{% block title %}Add New {{ title }}{% endblock %}

{% block content %}

<div class="container">

<div class="row">
  <div class="col-12">
    {% if messages %}
      {% for message in messages %}
        {% bootstrap_alert message alert_type=message.tags %}
      {% endfor %}
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-12">
      <a class="btn btn-primary" href="{% url 'bookings:bookings_add' %}" role="button">Add New</a>
  </div>
</div>

<div class="row">
  <form action="" method="post" class="form col-12">
    {% csrf_token %}

    <div class="container formset">
      {{ bookingsdateformset.management_form }}
      {% for form in bookingsdateformset %}
        <div class="row align-items-end formset-form">
          {% bootstrap_form form form_group_class='form-group col-3' %}
          <div class="form-group col-3">
            {% if form.instance.id is not None %}
            <a href="{% url 'bookings:bookings_delete' pk=form.instance.id %}" class="btn btn-danger remove-form" role="button">
                <i class="fas fa-trash"></i> Delete
            </a>
            {% else %}
              <a href="#" class="btn btn-danger remove-form" role="button">
                  <i class="fas fa-trash"></i> Delete
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="form-group col-12">
          <button type="button" class="btn btn-success add-form"><i class="fas fa-plus"></i> Add</button>
        </div>
      </div>
    </div>

    <div class="container formset">
      {{ formset.management_form }}
      {% for form in formset %}
        <div class="row align-items-end formset-form">
          {% bootstrap_form form form_group_class='form-group col-3' %}
          <div class="form-group col-3">
            {% if form.instance.id is not None %}
            <a href="{% url 'bookings:bookings_delete' pk=form.instance.id %}" class="btn btn-danger remove-form" role="button">
                <i class="fas fa-trash"></i> Delete
            </a>
            {% else %}
              <a href="#" class="btn btn-danger remove-form" role="button">
                  <i class="fas fa-trash"></i> Delete
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="form-group col-12">
          <button type="button" class="btn btn-success add-form"><i class="fas fa-plus"></i> Add</button>
        </div>
      </div>
    </div>

    {% for field in form %}
      {% if field.date %}
        {% bootstrap_field field.value|slashed_date %}
      {% else %}
        {% bootstrap_field field %}
      {% endif %}
    {% endfor %}

    {% buttons %}
      <button type="submit" class="btn btn-primary">Save</button>
    {% endbuttons %}
  </form>
</div>

</div>
{% endblock %}
