{% extends 'base.html' %}
{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}
{% load slashed_date %}

{% block title %}Add New {{ title }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Bookings" "bookings:bookings" %}
  {% breadcrumb "Add" "bookings_add" %}
{% endblock %}

{% block content %}

  {% include "components/message.html" with messages=messages %}

  {% include "components/heading.html" with title=title link="bookings:bookings_add" %}

  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-12">

              <h3 class="mb-4">{{ action }} {{ title }}</h3>

            </div>
          </div>

          <div class="row">
            <div class="col-12">

              <form method="post" class="form">
                {% csrf_token %}

                <div class="row">

                  {% for field in form %}
                    
                    <div class="col-4">

                      {% if field.date %}
                        {% bootstrap_field field.value %}
                        {# bootstrap_field field.value|slashed_date #}
                      {% else %}
                        {% bootstrap_field field %}
                      {% endif %}

                    </div>

                  {% endfor %}

                </div>
      
                <div class="formset">
                  {{ status_formset.management_form }}

                  {% for form in status_formset %}

                    <div class="row align-items-end formset-form">

                      {% bootstrap_form form form_group_class='form-group col-4' %}

                      <div class="form-group col-4">

                        {% if form.instance.id is not None %}

                            <a href="{% url 'bookings:customerstatus_delete' pk=form.instance.id %}" data-csrf="{{ csrf_token }}" class="btn btn-danger remove-form" role="button">
                              <i class="fas fa-trash"></i> Delete
                            </a>

                        {% else %}

                          <a href="#" class="btn btn-danger remove-form" role="button">
                              <i class="fas fa-trash"></i> Delete
                          </a>

                        {% endif %}

                      </div>

                    </div>

                  {% endfor %}

                  <div class="row">

                    <div class="form-group col-12">
                      <button type="button" class="btn btn-success add-form"><i class="fas fa-plus"></i> Add Customer</button>
                    </div>

                  </div>

                </div>
              
                {% buttons %}
                  <button id="submit" type="submit" class="btn btn-primary float-right pr-4 pl-4">Save</button>
                {% endbuttons %}

              </form>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

{% endblock %}
