<!-- This loads the relevant libraries and extends a base file -->
{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load humanize %}

<!-- This sets the page specific title -->
{% block title %}{{ title }}{% endblock %}

<!-- This sets the page specific description -->
{% block description %}
  View all of your {{ title }}
{% endblock %}

<!-- This sets the page specific breadcrumb -->
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Bookings" "bookings:bookings" %}
{% endblock %}

<!-- This sets the content for this specific page -->
{% block content %}

  {% include "components/heading.html" with title=title link="bookings:bookings_add" %}

  <section class="card">
    <div class="card-body">
      
      <table class="table">
        <h3 class="mb-3">All Bookings</h3>
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            {% for item in metas %}
              {% if item.name != 'id' %}
                <th scope="col">{{item.name.upper | humanize}}</th>
              {% endif %}
            {% endfor %}
            <th scope="col">EDIT</th>
            <th scope="col">DELETE</th>
          </tr>
        </thead>
        <tbody>
          {% for items in pages %}
            <tr>
              {% for item in items %}
                <td>{{ item }}</td>
              {% endfor %}
              <td>
                <a href="{% url 'bookings:bookings_update' pk=items.0 %}">
                  <i class="fas fa-pen" aria-label="Edit item"></i>
                </a>
              </td>
              <td>
                <a href="" data-toggle="modal" data-target="#deleteModal" data-id="{{ items.0 }}">
                  <i class="fas fa-trash" aria-label="Delete item"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% include "components/pagination.html" with page=page page_obj=page_obj %}

    </div>
  </section>

  {% include "components/modal.html" with pages=pages link="bookings:bookings_delete" %}

{% endblock %}