{% load static %}
{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  {% clear_breadcrumbs %}
  {% breadcrumb "Home" "schedule:schedule" %}
{% endblock %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{% block title %}Django Auth Tutorial{% endblock %}</title>

    <link rel="icon" href="{{ SITE_URL }}media/favicon.svg" type="image/gif" sizes="32x32">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link href="{% static "/fontawesome/css/all.css" %}" rel="stylesheet">
    {% bootstrap_css %}
    <link href="{% static "/css/style.css" %}" rel="stylesheet">
    
  </head>

  <body class="container-fluid bg-light-purple mh-100">
    <div class="row mh-100">
      {% include "components/nav.html" %}
      <main class="col-11 col-lg-10">              
        {% include "components/header.html" %}
        <div class="mt-4">
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>
    {% bootstrap_javascript jquery='full' %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="{% static "/js/main.js" %}"></script>
  </body>
  
</html>
