{% extends 'registration/password_reset_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
  Login  
{% endblock %}

{% block description %}
  Login to Calendarize
{% endblock %}
 
{% block content %}

  <div class="container-fluid">
            
    <h1 class="login-h1 text-center text-uppercase">Calendarize</h1>
    <h2 class="login-h2 text-center mb-5">Welcome back! Please login to your account.</h2>

    <form method="post" class="form login-form">
      {% csrf_token %}
      
      {% bootstrap_field form.username show_label=False placeholder="Username" %}
      {% bootstrap_field form.password show_label=False placeholder="Password" %}
      <a href="{% url 'password_reset' %}" class="text-left">Forgot password?</a>
    
      <div class="text-center">
        {% buttons %}
          <button type="submit" class="btn bg-dark-purple margin-auto text-white pl-4 pr-4 mt-4">Login</button>
        {% endbuttons %}
      </div>

    </form>

  </div>

{% endblock %}