{% extends 'registration/password_reset_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
  Forgot Password  
{% endblock %}

{% block description %}
    Forgot your password? Enter your email to change it.
{% endblock %}
 
{% block content %}

  <h1 class="login-h1 text-center text-uppercase">Calendarize</h1>
  <h2 class="login-h2 text-center mb-5">Forgot your password?</h2>

  <form method="post" class="form login-form text-center">
    {% csrf_token %}

    {% bootstrap_field form.email show_label=False placeholder="Email" %}
    <button type="submit" class="btn bg-dark-purple margin-auto text-white pl-4 pr-4 mt-4">Submit</button>

  </form>

{% endblock %}