<!-- This loads the relevant libraries for the page -->
{% load static %}
{% load bootstrap4 %}

<!-- This begins the HTML for the page -->
<!DOCTYPE html>
<html>

  <!-- This initializes the generic head for all the registration pages -->
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Password Reset{% endblock %}</title>
    <meta name="description" content="{% block description %}Reset your password by providing your email{% endblock %}">

    <link rel="icon" href="{{ SITE_URL }}media/favicon.svg" type="image/gif" sizes="32x32">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link href="{% static "/fontawesome/css/all.css" %}" rel="stylesheet">
    {% bootstrap_css %}
    <link href="{% static "/css/style.css" %}" rel="stylesheet">
    
  </head>

  <!-- This initializes the body for all the registration pages -->
  <body class="container-fluid bg-light-purple mh-100">
    <main class="row mh-100">
    
      <section 
      class="col-2 col-lg-6 login-background" 
      style="background-image: url('{{ SITE_URL }}media/background.svg')"> 
      </section>
    
      <section class="col-10 col-lg-6">
      
        <div class="row mh-100 d-flex justify-content-center align-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            
            {% block content %}{% endblock %}                
      
          </div>
        </div>
      
      </section>

    </main>
  
  </body>

</html>