{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{% block title %}Password Reset{% endblock %}</title>
    <meta name="description" content="Reset your password by providing your email">

    <link rel="icon" href="{{ SITE_URL }}media/favicon.svg" type="image/gif" sizes="32x32">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link href="{% static "/fontawesome/css/all.css" %}" rel="stylesheet">
    {% bootstrap_css %}
    <link href="{% static "/css/style.css" %}" rel="stylesheet">
    
  </head>

  <body class="container-fluid bg-light-purple mh-100">
    <div class="row mh-100">
    
      <div 
      class="d-none d-md-block col-md-6 login-background" 
      style="background-image: url('{{ SITE_URL }}media/background.svg')"> 
      </div>
    
      <div class="col-12 col-md-6">
      
        <div class="row mh-100 d-flex justify-content-center align-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            
            {% block content %}{% endblock %}                
      
          </div>
        </div>
      
      </div>

    </div>
  
  </body>

</html>