{% extends 'registration/password_reset_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
  Password Reset Confirmation  
{% endblock %}

{% block description %}
    Change your password.
{% endblock %}
 
{% block content %}

  {% if validlink %}

    <h1 class="login-h1 text-center text-uppercase">Calendarize</h1>
    <h2 class="login-h2 text-center mb-5">Change your password below.</h2>

    <form method="post" class="form login-form">
      {% csrf_token %}
      
      {% bootstrap_field form.new_password1 show_label=False placeholder="New Password" %}
      {% bootstrap_field form.new_password2 show_label=False placeholder="New Password Confirmation" %}
      <button type="submit" class="btn bg-dark-purple margin-auto text-white pl-4 pr-4 mt-4">Change password</button>
    </form>
  
  {% else %}
  
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>

  {% endif %}

{% endblock %}