<!-- This loads the relevant libraries and extends a base file -->
{% extends 'registration/password_reset_base.html' %}
{% load static %}
{% load bootstrap4 %}

<!-- This sets the page specific title -->
{% block title %}
  Password Reset Complete  
{% endblock %}

<!-- This sets the page specific description -->
{% block description %}
    Your password has been set. You may go ahead and sign in now.
{% endblock %}

<!-- This sets the content for this specific page -->
{% block content %}

    <p>
        Your password has been set. You may go ahead and <a href="{% url 'login' %}">login</a> now.
    </p>

{% endblock %}