{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% bootstrap_css %}
    <link href="{% static "/css/style.css" %}" rel="stylesheet">
  </head>
  <body>

    <h3>Forgot password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>

  <!-- BODY END -->
  {% bootstrap_javascript jquery='full' %}
  </body>
</html>