<!-- This loads the relevant libraries and extends a base file -->
{% extends 'base.html' %}
{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}

<!-- This sets the page specific title -->
{% block title %}Add New {{ title }}{% endblock %}

<!-- This sets the page specific description -->
{% block description %}
  Add or update your {{ title }}
{% endblock %}

<!-- This sets the page specific breadcrumb -->
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Equipment" "equipment:equipment" %}
  {% breadcrumb "Add" "equipment:equipment_add" %}
{% endblock %}

<!-- This sets the content for this specific page -->
{% block content %}

  {% include "components/message.html" with messages=messages %}

  {% include "components/heading.html" with title=title link="equipment:equipment_add" %}
  
  <section class="row">
    <div class="col-12">
      
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-12">

              <h3 class="mb-4"> {{ action }} {{ title }}</h3>

            </div>
          </div>

          <div class="row">
            <div class="col-12">

              <form method="post" class="form">
                {% csrf_token %}

                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary float-right pr-4 pl-4">Save</button>
                {% endbuttons %}

              </form>

            </div>
          </div>


        </div>
      </div>

    </div>
  </section>

{% endblock %}