<!-- This loads the relevant libraries and extends a base file -->
{% extends 'base.html' %}
{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}

<!-- This sets the page specific title -->
{% block title %}Add New {{ title }}{% endblock %}

<!-- This sets the page specific description -->
{% block description %}
  Add or update your {{ title }}
{% endblock %}

<!-- This sets the page specific breadcrumb -->
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Staff" "staff:staff" %}
  {% breadcrumb "Add" "staff:staff_add" %}
{% endblock %}

<!-- This sets the content for this specific page -->
{% block content %}

  {% include "components/message.html" with messages=messages %}

  {% include "components/heading.html" with title=title link="staff:staff_add" %}

  <section class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-12">

              <h3 class="mb-4">{{ action }} {{ title }}</h3>

            </div>
          </div>

          <div class="row">
            <div class="col-12">

              <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
            
                {% for field in form %}
                  {% if field == form.image %}
                    <div class="form-group row">
                      <div class="col-1">
                        {% if form.instance.image %}
                          <img src="{{ SITE_URL }}{{ form.instance.image.url }}" alt="" width="50px" class="profile-img">
                        {% endif %}
                      </div>
                      <div class="col">
                        {% if form.image %}
                          {{ form.image }}
                        {% endif %}
                      </div>
                    </div>
                  {% else %}
                    {% bootstrap_field field %}
                  {% endif %}
                {% endfor %}
            
                {% buttons %}
                    <button type="submit" class="btn btn-primary float-right pl-4 pr-4">Save</button>
                {% endbuttons %}
            
              </form>

            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

{% endblock %}