/* DEFAULT STYLING */

body, h1, h2, h3, h4, h5, h6, p, a, span, button {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 2.5rem;
}

/* HELPER STYLING */

.mh-100{
    min-height: 100vh;
}

.hidden {
    display: none;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(30,31,36,.25);
}

.active {
    border-left: 5px solid #A3A0FB !important;
    background-color: #35344a;
}

.active i {
    color: #A3A0FB;
}

.btn-group a {
    border: 1px solid #A5A4BF;
}

.btn-group a:hover {
    background-color: #35344a;
}

.input-group-append button:hover {
    background-color: #35344a;
}


/* BACKGROUND STYLING */

.bg-purple {
    background-color: #43425D;
}

.bg-dark-purple {
    background-color: #35344a;
}

.bg-med-purple {
 background-color: #A5A4BF;
}

.bg-light-purple {
    background-color: #F0F0F7;
}

.bg-bright-purple {
    background-color: #A3A0FB;
}

.bg-pink {
    background-color: #FF165E;
    border-color: #FF165E;
}

.bg-light-blue {
    background-color: #1E3850;
}

.bg-blue {
    background-image: radial-gradient(#1E273B, #192030, #192030);
}

.home input {
    border: 0;
    border-bottom: 1px solid rgb(0,0,0,.1);
    border-radius: 0;
}


/* TEXT STYLING */

.text-pink {
    color: #FF165E;
}

.text-light-blue {
    color: #D0E5FF;
}

.text-light-grey {
    background-color: rgb(172,197,255,.2);
}

/* LOGIN STYLING */

.login-background {
    background-size: cover;
}

.login-h1 {
    font-weight: 600;
    color: #43425D;
}

.login-h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #909090;
}

.login-form input {
    border: 0px;
    border-bottom: 2px solid rgba(0,0,0,.125);
    border-radius: 0;
}


/* NAVIGATION STYLING */

nav i {
    color: #A5A4BF;
}

nav a, a:hover {
    color: #A3A0FB;
}

.navbar-brand {
    font-weight: 700;
    letter-spacing: 3px;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler i {
    color: #ffffff
}

.nav-block {
    border-left: 5px solid #43425D;
}

.brand-block {
    height: 56px;
}

.brand-item {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 16px;
}

.icon {
    height: 28px;
    padding-bottom: 3px;
}

button:focus {
    outline: unset;
}

/* HEADER STYLING */

.breadcrumb {
    margin-bottom: 0;
    padding: 0;
    background-color: unset;
}

.profile-btn {
    border-left: 1px solid #4D4F5C;
    border-radius: 0px;
}

.profile-img {
    border-radius: 500px;
}

.macbook {
    width: 90%;
}


/* TABLE STYLING */

.table {
    background-color: #ffffff;
}

.table .thead-dark th {
    background-color: #35344a;
    border-color: #35344a;
}

.table .thead-light th {
    background-color: #f5f6fa;
    border-color: #f5f6fa;
}

.table a {
    color: #43425D;
}

.table a:hover {
    color: #A3A0FB;
}

.add-new .bg-purple:hover {
    background-color: #35344a;
}


/* TABLE PAGINATION */

.pagination a {
    color: #495057;
}

.pagination a:hover {
    background-color: #35344a;
    color: #ffffff;
}

.pagination .current {
    background-color: #35344a;
    color: #ffffff;
}

/* HEADER  STYLING */

.home .navbar {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
}

.home .hero {
    background-color: rgba(10,13,19,.8);
}

.home .btn {
    border-radius: 500px;
}

.home .cart {
    background-color: rgba(0,0,0,.25);
    border-radius: 50%;
}

.home .fa-shopping-cart {
    width: 22px;
    font-size: .6rem;
}

.home .border-red:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 4px solid #FF165E;
    border-radius: 500px;
}

.home .border-grey:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 4px solid #F2F2F2;
    border-radius: 500px;
}

.home .card-img-overlay {
    background-color: rgba(0,0,0,.8);
}

/* FOOTER STYLING */

footer i {
    font-size: 20px;
}

/* MEDIA QUERIES */

/* Small devices (mobiles, 768px and up) */
@media (max-width: 576px) {
    
    .breadcrumb {
        font-size: 0.90rem;
    }

    .profile-img {
        width: 30px;
    }

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    h1 {
        font-size: 3.5rem;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .macbook {
        width: 80%;
    }

    .home .border-grey:before {
        border-bottom: unset;
    }

    .home .border-grey {
        border-top: 4px solid #F2F2F2;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .home nav .navbar-collapse .btn {
        display: block;
    }

    .macbook {
        width: 55%;
    }

}