<nav class="col-2 bg-dark">
	<ul class="nav flex-column">
	  <li class="nav-item">
			<i class="fas fa-home"></i>
	    <a class="nav-link active" href="{% url 'home' %}">Home</a>
	  </li>
	  <li class="nav-item">
			<i class="far fa-calendar-alt"></i>
	    <a class="nav-link" href="#">Calendar</a>
	  </li>
	  <li class="nav-item">
			<i class="fas fa-hourglass-start"></i>
	    <a class="nav-link" href="#">Bookings</a>
	  </li>
	  <li class="nav-item">
			<i class="fas fa-star"></i>
	    <a class="nav-link" href="{% url 'services:services' %}">Services</a>
	  </li>
		<li class="nav-item">
			<i class="fas fa-dumbbell"></i>
	    <a class="nav-link" href="{% url 'equipment:equipment' %}">Equipment</a>
	  </li>
		<li class="nav-item">
			<i class="fas fa-address-book"></i>
	    <a class="nav-link" href="{% url 'customers:customers' %}">Customers</a>
	  </li>
		<li class="nav-item">
			<i class="fas fa-user"></i>
	    <a class="nav-link" href="{% url 'staff:staff' %}">Staff</a>
	  </li>
		<li class="nav-item">
			<i class="fas fa-reciept"></i>
	    <a class="nav-link" href="#">Invoices</a>
	  </li>
	</ul>
</nav>
