{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap4 %}
{% load slashed_date %}
{{ form.media }}

{% block title %}{{ title }}{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12">

      <h2>Schedule</h2>

    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">

      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-4">

              <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url 'schedule:schedule_date' date=date|text_date %}" class="btn bg-purple text-white">Today</a>
                <a href="{% url 'schedule:schedule_date' date=date|minus_date %}" class="btn bg-purple text-white">Prev</a>
                <a href="{% url 'schedule:schedule_date' date=date|plus_date %}" class="btn bg-purple text-white">Next</a>

              </div>
            </div>

            <div class="col-4 align-self-center text-center">
              <h3 class="mb-0">{{ date }}</h3>
            </div>

            <div class="col-4">
              <form action="" method="post">
                {% csrf_token %}
                <div class="input-group">
                  {{ form }}
                  <div class='input-group-append'>
                    <button class='btn btn-outline-secondary bg-purple text-white' type='submit' id='button-addon'>
                      Search
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  {% if staff %}

    <div class="row">

      {% for person in staff %}

        <div class="col-6">

          <div class="card">

            <div class="card-header">
              <img src="http://localhost:8000/media/{{person.image}}" alt="" width="40px" class="pr-2">
              {{ person.username }}
              <button class="btn chevron float-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-chevron-down"></i>
              </button>
            </div>
          
            <div class="collapse show" id="collapseExample">
              <div class="card-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">TIME</th>
                      <th scope="col">SERVICE</th>
                      <th scope="col">EQUIPMENT</th>
                      <th scope="col" class="text-center">VIEW</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if pages %}
                      {% for items in pages %}
                        {% if person.username == items.6 %} 
                          <tr>
                            <td>{{ items.2 }} - {{ items.3 }}</td>
                            <td>{{ items.4 }}</td>
                            <td>{{ items.5 }}</td>
                            <td class="text-center">
                              <a href="{% url 'bookings:bookings_update' pk=items.0 %}">  
                                <i class="fas fa-eye"></i>
                              </a>
                            </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="4" class="text-center">You're free as a bird!</td>
                      </tr>
                    {% endif %}
                  </tbody>
                </table>

              </div>
            </div>

          </div>

      {% endfor %}

    </div>

  {% else %}

    <div class="row">
      <div class="col-12">

        <div class="card text-center">
          <p>No Data to Display</p>
        </div>
        
      </div>
    </div>

  {% endif %}

{% endblock %}
