<!-- This loads the relevant libraries and extends a base file -->
{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap4 %}
{% load slashed_date %}
{{ form.media }}

<!-- This sets the page specific title -->
{% block title %}{{ title }}{% endblock %}

<!-- This sets the page specific description -->
{% block description %}
  View your daily Schedule
{% endblock %}

<!-- This sets the content for this specific page -->
{% block content %}

  <section class="row">
    <div class="col-12">

      <h2>Schedule</h2>

    </div>
  </section>

  <section class="row mb-4">
    <div class="col-12">

      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="d-none d-md-block col-4">

              <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{% url 'schedule:schedule_date' date=date|text_date %}" class="btn bg-purple text-white">Today</a>
                <a href="{% url 'schedule:schedule_date' date=date|minus_date %}" class="btn bg-purple text-white">Prev</a>
                <a href="{% url 'schedule:schedule_date' date=date|plus_date %}" class="btn bg-purple text-white">Next</a>

              </div>
            </div>

            <div class="col-12 col-md-4 mb-4 mb-md-0 align-self-center text-center">
              <h3 class="mb-0">{{ date }}</h3>
            </div>

            <div class="col-12 col-md-4">
              <form action="" method="post">
                {% csrf_token %}
                <div class="input-group">
                  {{ form }}
                  <div class='input-group-append'>
                    <button class='btn btn-outline-secondary bg-purple text-white' type='submit' id='button-addon'>
                      Search
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  {% if staff %}

    <section class="row">

      {% for person in staff %}

        <div class="col-md-12 col-lg-6 mb-4">

          <div class="card">

            <div class="card-header">
              <img src="{{ MEDIA_PATH }}{{person.image}}" alt="" width="40px" class="profile-img mr-2">
              {{ person.username }}
              <button class="btn chevron float-right" type="button" data-toggle="collapse" data-target="#collapse{{ person.username }}" aria-expanded="false" aria-controls="collapseExample" aria-label="Chevron Indicator">
                <i class="fas fa-chevron-down"></i>
              </button>
            </div>
          
            <div class="collapse show" id="collapse{{ person.username }}">
              <div class="card-body">

                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">TIME</th>
                      <th scope="col" class="d-none d-md-block">SERVICE</th>
                      <th scope="col" class="d-none d-md-block">EQUIPMENT</th>
                      <th scope="col" class="text-center">VIEW</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% if pages.0 %}
                    
                      {% for bookings in pages.0 %}

                        {% if person.username == bookings.staff_id__username %}

                          <tr>
                            <td>{{ bookings.start_time }} - {{ bookings.end_time }}</td>
                            <td class="d-none d-md-block">{{ bookings.service_id__name }}</td>
                            <td class="d-none d-md-block">{{ bookings.equipment_id__name }}</td>
                            <td class="text-center">
                              <a href="{% url 'bookings:bookings_update' pk=bookings.id %}">  
                                <i class="fas fa-eye"></i>
                              </a>
                            </td>
                          </tr>

                        {% else %}
                          
                          {% if forloop.counter == 1 and person.username not in pages.1  %}
                
                            <tr>
                              <td colspan="4" class="text-center">You're free as a bird!</td>
                            </tr>

                          {% endif %}

                        {% endif %}

                      {% endfor %}

                    {% else %}

                      <tr>
                        <td colspan="4" class="text-center">You're free as a bird!</td>
                      </tr>

                    {% endif %}

                  </tbody>
                </table>

              </div>
            </div>

          </div>

        </div>

      {% endfor %}

      </section>

  {% else %}

    <section class="row">
      <div class="col-12">

        <div class="card text-center">
          <p>No Data to Display</p>
        </div>
        
      </div>
    </section>

  {% endif %}

{% endblock %}
