<!-- templates/home.html-->
{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block title %}Add New {{ title }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Services" "services:services" %}
  {% breadcrumb "Add" "services:service_add" %}
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endfor %}
{% endif %}

<a class="btn btn-primary" href="{% url 'services:service_add' %}" role="button">Add New</a>

<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Save</button>
    {% endbuttons %}
</form>

{% endblock %}
