<!-- This loads the relevant libraries and extends a base file -->
{% extends 'base.html' %}
{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}

<!-- This sets the page specific title -->
{% block title %}Add New {{ title }}{% endblock %}

<!-- This sets the page specific description -->
{% block description %}
  Add or update your {{ title }}
{% endblock %}

<!-- This sets the page specific breadcrumb -->
{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Customers" "customers:customers" %}
  {% breadcrumb "Add" "customer:customer_add" %}
{% endblock %}

<!-- This sets the content for this specific page -->
{% block content %}
    
  {% include "components/message.html" with messages=messages %}

  {% include "components/heading.html" with title=title link="customers:customer_add" %}

  <section class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-12">

              <h3 class="mb-4">{{ action }} {{ title }}</h3>

            </div>
          </div>

          <div class="row">
            <div class="col-12">

              <form action="" method="post" class="form">
                {% csrf_token %}
                
                {% bootstrap_form customer_form %}
                <div class="formset">
                  {{ formset.management_form }}
                  {% for form in formset %}
                    <div class="row align-items-end formset-form">
                      {% bootstrap_form form form_group_class='form-group col-12 col-md-4' %}
                      <div class="form-group col-12 col-md-4">
                        {% if form.instance.id is not None %}
                        <a href="{% url 'customers:customerprice_delete' pk=form.instance.id %}" class="btn btn-danger remove-service-price" role="button">
                            <i class="fas fa-trash"></i> Delete
                        </a>
                        {% else %}
                          <a href="#" class="btn btn-danger remove-service-price" role="button">
                              <i class="fas fa-trash"></i> Delete
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}

                  <div class="row">
                    <div class="form-group col-12">
                      <button type="button" class="btn btn-success add-service-price">
                        <i class="fas fa-plus"></i> 
                        Add
                      </button>
                    </div>
                  </div>

                </div>

                {% buttons %}
                  <button type="submit" class="btn btn-primary float-right pr-4 pl-4">Save</button>
                {% endbuttons %}

              </form>
              
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

{% endblock %}
